In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
sc = spark.sparkContext

In [4]:
spark

In [5]:
sc

In [6]:
#Dispaly notebook cell with horizontal Scroll bar
from IPython.display import display , HTML
display(HTML("<style>pre {white-space: pre !important; }</style>"))

In [7]:
data =[[1,"Jules","Verne","http://www.example.com/1","2014-01-01",254,["email","web"]],
       [2,"H.G.","Wells","http://www.example.com/2","2014-01-02",123,["web"]],
       [3,"Isaac","Asimov","http://www.example.com/3","2014-02-01",456,["email","ads","web"]],
       [4,"Douglas","Adams","http://www.example.com/4","2014-03-05",321,["ads","web"]],
       [5,"Arthur C.","Clarke","http://www.example.com/5","2014-04-01",213,["email","ads"]],
       [6,"Frank","Herbert","http://www.example.com/6","2014-04-15",312,["email","web"]],
       [7,"Ursula K.","Le Guin","http://www.example.com/7","2014-05-21",213,["web"]]]

In [8]:
MyNewSchema = 'ID INT not null, First STRING, Last STRING, Url STRING, Published STRING, Hits INT, Campaigns ARRAY<STRING>'

In [9]:
blogs_df = spark.createDataFrame(data , schema = MyNewSchema)

In [10]:
blogs_df.show()

+---+---------+-------+--------------------+----------+----+-----------------+
| ID|    First|   Last|                 Url| Published|Hits|        Campaigns|
+---+---------+-------+--------------------+----------+----+-----------------+
|  1|    Jules|  Verne|http://www.exampl...|2014-01-01| 254|     [email, web]|
|  2|     H.G.|  Wells|http://www.exampl...|2014-01-02| 123|            [web]|
|  3|    Isaac| Asimov|http://www.exampl...|2014-02-01| 456|[email, ads, web]|
|  4|  Douglas|  Adams|http://www.exampl...|2014-03-05| 321|       [ads, web]|
|  5|Arthur C.| Clarke|http://www.exampl...|2014-04-01| 213|     [email, ads]|
|  6|    Frank|Herbert|http://www.exampl...|2014-04-15| 312|     [email, web]|
|  7|Ursula K.|Le Guin|http://www.exampl...|2014-05-21| 213|            [web]|
+---+---------+-------+--------------------+----------+----+-----------------+

In [11]:
blogs_df.show(3,truncate=False)

+---+-----+------+------------------------+----------+----+-----------------+
|ID |First|Last  |Url                     |Published |Hits|Campaigns        |
+---+-----+------+------------------------+----------+----+-----------------+
|1  |Jules|Verne |http://www.example.com/1|2014-01-01|254 |[email, web]     |
|2  |H.G. |Wells |http://www.example.com/2|2014-01-02|123 |[web]            |
|3  |Isaac|Asimov|http://www.example.com/3|2014-02-01|456 |[email, ads, web]|
+---+-----+------+------------------------+----------+----+-----------------+
only showing top 3 rows

In [12]:
blogs_df.sort('First').show()

+---+---------+-------+--------------------+----------+----+-----------------+
| ID|    First|   Last|                 Url| Published|Hits|        Campaigns|
+---+---------+-------+--------------------+----------+----+-----------------+
|  5|Arthur C.| Clarke|http://www.exampl...|2014-04-01| 213|     [email, ads]|
|  4|  Douglas|  Adams|http://www.exampl...|2014-03-05| 321|       [ads, web]|
|  6|    Frank|Herbert|http://www.exampl...|2014-04-15| 312|     [email, web]|
|  2|     H.G.|  Wells|http://www.exampl...|2014-01-02| 123|            [web]|
|  3|    Isaac| Asimov|http://www.exampl...|2014-02-01| 456|[email, ads, web]|
|  1|    Jules|  Verne|http://www.exampl...|2014-01-01| 254|     [email, web]|
|  7|Ursula K.|Le Guin|http://www.exampl...|2014-05-21| 213|            [web]|
+---+---------+-------+--------------------+----------+----+-----------------+

In [13]:
from pyspark.sql.functions import *

In [14]:
blogs_df.withColumn('Full',concat_ws(' ',col('First') , col('Last'))).show()

+---+---------+-------+--------------------+----------+----+-----------------+-----------------+
| ID|    First|   Last|                 Url| Published|Hits|        Campaigns|             Full|
+---+---------+-------+--------------------+----------+----+-----------------+-----------------+
|  1|    Jules|  Verne|http://www.exampl...|2014-01-01| 254|     [email, web]|      Jules Verne|
|  2|     H.G.|  Wells|http://www.exampl...|2014-01-02| 123|            [web]|       H.G. Wells|
|  3|    Isaac| Asimov|http://www.exampl...|2014-02-01| 456|[email, ads, web]|     Isaac Asimov|
|  4|  Douglas|  Adams|http://www.exampl...|2014-03-05| 321|       [ads, web]|    Douglas Adams|
|  5|Arthur C.| Clarke|http://www.exampl...|2014-04-01| 213|     [email, ads]| Arthur C. Clarke|
|  6|    Frank|Herbert|http://www.exampl...|2014-04-15| 312|     [email, web]|    Frank Herbert|
|  7|Ursula K.|Le Guin|http://www.exampl...|2014-05-21| 213|            [web]|Ursula K. Le Guin|
+---+---------+-------+--------------------+----------+----+-----------------+-----------------+

In [15]:
blogs_df.sort('First', ascending=False).show()

+---+---------+-------+--------------------+----------+----+-----------------+
| ID|    First|   Last|                 Url| Published|Hits|        Campaigns|
+---+---------+-------+--------------------+----------+----+-----------------+
|  7|Ursula K.|Le Guin|http://www.exampl...|2014-05-21| 213|            [web]|
|  1|    Jules|  Verne|http://www.exampl...|2014-01-01| 254|     [email, web]|
|  3|    Isaac| Asimov|http://www.exampl...|2014-02-01| 456|[email, ads, web]|
|  2|     H.G.|  Wells|http://www.exampl...|2014-01-02| 123|            [web]|
|  6|    Frank|Herbert|http://www.exampl...|2014-04-15| 312|     [email, web]|
|  4|  Douglas|  Adams|http://www.exampl...|2014-03-05| 321|       [ads, web]|
|  5|Arthur C.| Clarke|http://www.exampl...|2014-04-01| 213|     [email, ads]|
+---+---------+-------+--------------------+----------+----+-----------------+

In [16]:
blogs_df.sort(col('First').asc()).show()

+---+---------+-------+--------------------+----------+----+-----------------+
| ID|    First|   Last|                 Url| Published|Hits|        Campaigns|
+---+---------+-------+--------------------+----------+----+-----------------+
|  5|Arthur C.| Clarke|http://www.exampl...|2014-04-01| 213|     [email, ads]|
|  4|  Douglas|  Adams|http://www.exampl...|2014-03-05| 321|       [ads, web]|
|  6|    Frank|Herbert|http://www.exampl...|2014-04-15| 312|     [email, web]|
|  2|     H.G.|  Wells|http://www.exampl...|2014-01-02| 123|            [web]|
|  3|    Isaac| Asimov|http://www.exampl...|2014-02-01| 456|[email, ads, web]|
|  1|    Jules|  Verne|http://www.exampl...|2014-01-01| 254|     [email, web]|
|  7|Ursula K.|Le Guin|http://www.exampl...|2014-05-21| 213|            [web]|
+---+---------+-------+--------------------+----------+----+-----------------+

In [17]:
df = spark.read.csv('NullData.csv' , header=  True, inferSchema=True)

In [18]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [19]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [20]:
df_notnull =df.na.drop()

In [21]:
df_notnull.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [22]:
df.na.drop(how='any').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [23]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [24]:
df.na.drop(thresh=1).show() # not null

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [25]:
df.na.drop(thresh=2).show() # not null

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [26]:
df.na.drop(thresh=3).show() # not null

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [27]:
df.na.drop(subset=['Id' , 'Name']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp4|Cindy|456.0|
+----+-----+-----+

In [28]:
df.na.drop(subset=['Id' , 'Name'] , how = 'all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [29]:
df.na.fill('Any Name').show()

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| NULL|
|emp2|Any Name| NULL|
|emp3|Any Name|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [30]:
df.na.fill(50).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| 50.0|
|emp2| NULL| 50.0|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [31]:
df.na.fill(0 , subset=['Sales'])

DataFrame[Id: string, Name: string, Sales: double]

In [32]:
m = df.select(mean(col('Sales')).alias('mean_sales')).collect()

In [33]:
m[0][0]

400.5

In [34]:
m[0].mean_sales

400.5

In [35]:
df_notnull =df.na.fill(m[0].mean_sales , subset=['Sales'])

In [36]:
df_notnull.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| NULL|400.5|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [37]:
fire_df = spark.read.csv('sf-fire-calls.csv',header=True , inferSchema=True)

In [38]:
fire_df.show(5)

25/10/17 20:40:41 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|CallNumber|UnitID|IncidentNumber|        CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|    Delay|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|  20110016|   T13|       2003235|  Structure Fire|01/11/2002|01/10/2002|               Other|01/11/2002 01:51:...|2000 Block of CAL...|  SF|  94109|      B04|         38|3362|               3|       3|            3|  false|         NULL|        1|   TRUCK|                         2|                     4|                 5|     Pacific Heights|(37.7895840679362...|020110016-T13|     2.95|
|  20110022|   M17|       2003241|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 03:01:...|0 Block of SILVER...|  SF|  94124|      B10|         42|6495|               3|       3|            3|   true|         NULL|        1|   MEDIC|                         1|                    10|                10|Bayview Hunters P...|(37.7337623673897...|020110022-M17|      4.7|
|  20110023|   M41|       2003242|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 02:39:...|MARKET ST/MCALLIS...|  SF|  94102|      B03|         01|1455|               3|       3|            3|   true|         NULL|        1|   MEDIC|                         2|                     3|                 6|          Tenderloin|(37.7811772186856...|020110023-M41|2.4333334|
|  20110032|   E11|       2003250|    Vehicle Fire|01/11/2002|01/10/2002|               Other|01/11/2002 04:16:...|APPLETON AV/MISSI...|  SF|  94110|      B06|         32|5626|               3|       3|            3|  false|         NULL|        1|  ENGINE|                         1|                     6|                 9|      Bernal Heights|(37.7388432849018...|020110032-E11|      1.5|
|  20110043|   B04|       2003259|          Alarms|01/11/2002|01/10/2002|               Other|01/11/2002 06:01:...|1400 Block of SUT...|  SF|  94109|      B04|         03|3223|               3|       3|            3|  false|         NULL|        1|   CHIEF|                         2|                     4|                 2|    Western Addition|(37.7872890372638...|020110043-B04|3.4833333|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
only showing top 5 rows

In [39]:
fire_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- Delay: double (nullable = true)

In [40]:
fire_df = spark.read.csv('sf-fire-calls.csv',header=True ,
                         inferSchema=True, samplingRatio=0.001)

In [41]:
fire_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: integer (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- Delay: double (nullable = true)

In [42]:
fire_df.schema

StructType([StructField('CallNumber', IntegerType(), True), StructField('UnitID', StringType(), True), StructField('IncidentNumber', IntegerType(), True), StructField('CallType', StringType(), True), StructField('CallDate', StringType(), True), StructField('WatchDate', StringType(), True), StructField('CallFinalDisposition', StringType(), True), StructField('AvailableDtTm', StringType(), True), StructField('Address', StringType(), True), StructField('City', StringType(), True), StructField('Zipcode', IntegerType(), True), StructField('Battalion', StringType(), True), StructField('StationArea', StringType(), True), StructField('Box', IntegerType(), True), StructField('OriginalPriority', StringType(), True), StructField('Priority', StringType(), True), StructField('FinalPriority', IntegerType(), True), StructField('ALSUnit', BooleanType(), True), StructField('CallTypeGroup', StringType(), True), StructField('NumAlarms', IntegerType(), True), StructField('UnitType', StringType(), True), StructField('UnitSequenceInCallDispatch', IntegerType(), True), StructField('FirePreventionDistrict', IntegerType(), True), StructField('SupervisorDistrict', IntegerType(), True), StructField('Neighborhood', StringType(), True), StructField('Location', StringType(), True), StructField('RowID', StringType(), True), StructField('Delay', DoubleType(), True)])

In [43]:
fire_describe =fire_df.describe()

In [44]:
fire_describe.show()

[Stage 33:>                                                         (0 + 1) / 1]

+-------+--------------------+------------------+-----------------+--------------------+----------+----------+--------------------+--------------------+--------------------+-----------+------------------+---------+------------------+----------------+------------------+------------------+-------------------+--------------------+-------------------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+------------------+
|summary|          CallNumber|            UnitID|   IncidentNumber|            CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|       City|           Zipcode|Battalion|       StationArea|             Box|  OriginalPriority|          Priority|      FinalPriority|       CallTypeGroup|          NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|             Delay|
+-------+--------------------+------------------+-----------------+--------------------+----------+----------+--------------------+--------------------+--------------------+-----------+------------------+---------+------------------+----------------+------------------+------------------+-------------------+--------------------+-------------------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+------------------+
|  count|              175296|            175296|           175296|              175296|    175296|    175296|              175296|              173502|              175296|     175089|            175154|   175296|            175221|          175282|            174374|            175296|             175296|               75779|             175296|  175296|                    175295|                173915|            175170|              175296|              175296|       175296|            175296|
|   mean|1.0023517638629518E8| 75.09678410773658|9900785.635057274|                NULL|      NULL|      NULL|                NULL|                NULL|                NULL|       NULL| 94113.58601573472|     NULL| 18.08921735922151| 4090.2165596011|2.7605317888321927|2.7449383763374695|  2.792174379335524|                NULL| 1.0049858525009128|    NULL|        2.1280413018055278|    4.7602276974384035| 5.989141976365816|                NULL|                NULL|         NULL|3.8923641541750156|
| stddev|5.3969092834126554E7|12.818274120753552|5407019.524900537|                NULL|      NULL|      NULL|                NULL|                NULL|                NULL|       NULL|10.221869589794194|     NULL|14.463948601522205|2374.88222571495|0.5070550169980559|0.5170575577556945|0.40575247533832187|                NULL|0.09811952680742099|    NULL|        2.0543838673391677|    2.9348933918215114|2.7217404283152193|                NULL|                NULL|         NULL| 9.378286170882735|
|    min|             1030128|                27|            30636|      Administrative|01/01/2001|01/01/2001|Against Medical A...|01/01/2001 01:28:...|0 Block of 0NB GG...|         BN|             94102|      B01|                01|             123|                 1|                 1|                  2|               Alarm|                  1| AIRPORT|                         1|                     1|                 1|Bayview Hunters P...|(37.6168823239251...|001030128-B04|       0.016666668|
|    max|           183104004|               UU1|         18130302|Watercraft in Dis...|12/31/2017|12/31/2017|    Unable to Locate|12/31/2017 12:55:...|YOSEMITE AV/MENDE...|Yerba Buena|             94158|      B99|                A3|            9955|                 I|                 I|                  3|Potentially Life-...|                  5|   TRUCK|                        68|                    10|                11|    Western Addition|(37.8544643401172...|183104004-B01|           1844.55|
+-------+--------------------+------------------+-----------------+--------------------+----------+----------+--------------------+--------------------+--------------------+-----------+------------------+---------+------------------+----------------+------------------+------------------+-------------------+--------------------+-------------------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+------------------+

In [45]:
fire_describe.select('summary' , 'CallNumber').show()

+-------+--------------------+
|summary|          CallNumber|
+-------+--------------------+
|  count|              175296|
|   mean|1.0023517638629518E8|
| stddev|5.3969092834126554E7|
|    min|             1030128|
|    max|           183104004|
+-------+--------------------+

In [46]:
fire_df.show(5 , truncate = False)

+----------+------+--------------+----------------+----------+----------+--------------------+----------------------+---------------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+---------------------+-------------------------------------+-------------+---------+
|CallNumber|UnitID|IncidentNumber|CallType        |CallDate  |WatchDate |CallFinalDisposition|AvailableDtTm         |Address                    |City|Zipcode|Battalion|StationArea|Box |OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|Neighborhood         |Location                             |RowID        |Delay    |
+----------+------+--------------+----------------+----------+----------+--------------------+----------------------+---------------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+---------------------+-------------------------------------+-------------+---------+
|20110016  |T13   |2003235       |Structure Fire  |01/11/2002|01/10/2002|Other               |01/11/2002 01:51:44 AM|2000 Block of CALIFORNIA ST|SF  |94109  |B04      |38         |3362|3               |3       |3            |false  |NULL         |1        |TRUCK   |2                         |4                     |5                 |Pacific Heights      |(37.7895840679362, -122.428071912459)|020110016-T13|2.95     |
|20110022  |M17   |2003241       |Medical Incident|01/11/2002|01/10/2002|Other               |01/11/2002 03:01:18 AM|0 Block of SILVERVIEW DR   |SF  |94124  |B10      |42         |6495|3               |3       |3            |true   |NULL         |1        |MEDIC   |1                         |10                    |10                |Bayview Hunters Point|(37.7337623673897, -122.396113802632)|020110022-M17|4.7      |
|20110023  |M41   |2003242       |Medical Incident|01/11/2002|01/10/2002|Other               |01/11/2002 02:39:50 AM|MARKET ST/MCALLISTER ST    |SF  |94102  |B03      |01         |1455|3               |3       |3            |true   |NULL         |1        |MEDIC   |2                         |3                     |6                 |Tenderloin           |(37.7811772186856, -122.411699931232)|020110023-M41|2.4333334|
|20110032  |E11   |2003250       |Vehicle Fire    |01/11/2002|01/10/2002|Other               |01/11/2002 04:16:46 AM|APPLETON AV/MISSION ST     |SF  |94110  |B06      |32         |5626|3               |3       |3            |false  |NULL         |1        |ENGINE  |1                         |6                     |9                 |Bernal Heights       |(37.7388432849018, -122.423948785199)|020110032-E11|1.5      |
|20110043  |B04   |2003259       |Alarms          |01/11/2002|01/10/2002|Other               |01/11/2002 06:01:58 AM|1400 Block of SUTTER ST    |SF  |94109  |B04      |03         |3223|3               |3       |3            |false  |NULL         |1        |CHIEF   |2                         |4                     |2                 |Western Addition     |(37.7872890372638, -122.424236212664)|020110043-B04|3.4833333|
+----------+------+--------------+----------------+----------+----------+--------------------+----------------------+---------------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+---------------------+-------------------------------------+-------------+---------+
only showing top 5 rows

In [47]:
import pyspark.sql.functions as fn

In [48]:
from pyspark.sql.functions import *

In [49]:
#Lets DO Some data Preparations

In [50]:
df_Medical = (fire_df
              .select('CallNumber','IncidentNumber','UnitID','CallType').where(col('CallType')=='Medical Incident'))

In [51]:
df_Medical.show()

+----------+--------------+------+----------------+
|CallNumber|IncidentNumber|UnitID|        CallType|
+----------+--------------+------+----------------+
|  20110022|       2003241|   M17|Medical Incident|
|  20110023|       2003242|   M41|Medical Incident|
|  20110197|       2003343|   E05|Medical Incident|
|  20110215|       2003348|   E06|Medical Incident|
|  20110274|       2003381|   M07|Medical Incident|
|  20110304|       2003399|   E03|Medical Incident|
|  20110308|       2003403|   E14|Medical Incident|
|  20110315|       2003409|   RC2|Medical Incident|
|  20110330|       2003417|   E14|Medical Incident|
|  20110330|       2003417|   M12|Medical Incident|
|  20110350|       2003435|   M41|Medical Incident|
|  20110428|       2003500|   M28|Medical Incident|
|  20110467|       2003529|   T19|Medical Incident|
|  20120016|       2003550|   E43|Medical Incident|
|  20120044|       2003576|   M10|Medical Incident|
|  20120045|       2003577|   E21|Medical Incident|
|  20120052|       2003584|   M36|Medical Incident|
|  20120061|       2003593|   M10|Medical Incident|
|  20120127|       2003630|   M38|Medical Incident|
|  20120142|       2003639|   E07|Medical Incident|
+----------+--------------+------+----------------+
only showing top 20 rows

In [52]:
df_NotMedical = (fire_df
              .select('CallNumber','IncidentNumber','UnitID','CallType').where(col('CallType')!='Medical Incident'))

In [53]:
df_NotMedical.show(truncate=False)

+----------+--------------+------+-----------------------------+
|CallNumber|IncidentNumber|UnitID|CallType                     |
+----------+--------------+------+-----------------------------+
|20110016  |2003235       |T13   |Structure Fire               |
|20110032  |2003250       |E11   |Vehicle Fire                 |
|20110043  |2003259       |B04   |Alarms                       |
|20110072  |2003279       |T08   |Structure Fire               |
|20110125  |2003301       |E33   |Alarms                       |
|20110130  |2003304       |E36   |Alarms                       |
|20110275  |2003382       |T15   |Structure Fire               |
|20110313  |2003408       |B10   |Structure Fire               |
|20110313  |2003408       |D3    |Structure Fire               |
|20110313  |2003408       |E32   |Structure Fire               |
|20110344  |2003429       |T06   |Odor (Strange / Unknown)     |
|20110375  |2003453       |B05   |Alarms                       |
|20110425  |2003497       |B01   |Structure Fire               |
|20120020  |2003554       |E36   |Structure Fire               |
|20120111  |2003618       |E18   |Odor (Strange / Unknown)     |
|20120155  |2003649       |B08   |Odor (Strange / Unknown)     |
|20120217  |2003695       |M03   |Structure Fire               |
|20120295  |2003756       |B05   |Alarms                       |
|20120311  |2003770       |E07   |Smoke Investigation (Outside)|
|20120322  |2003777       |D2    |Structure Fire               |
+----------+--------------+------+-----------------------------+
only showing top 20 rows

In [54]:
df_Medical = (fire_df
              .select('CallNumber','IncidentNumber','UnitID','CallType').where('CallType = "Medical Incident"'))

In [55]:
df_Medical.show()

+----------+--------------+------+----------------+
|CallNumber|IncidentNumber|UnitID|        CallType|
+----------+--------------+------+----------------+
|  20110022|       2003241|   M17|Medical Incident|
|  20110023|       2003242|   M41|Medical Incident|
|  20110197|       2003343|   E05|Medical Incident|
|  20110215|       2003348|   E06|Medical Incident|
|  20110274|       2003381|   M07|Medical Incident|
|  20110304|       2003399|   E03|Medical Incident|
|  20110308|       2003403|   E14|Medical Incident|
|  20110315|       2003409|   RC2|Medical Incident|
|  20110330|       2003417|   E14|Medical Incident|
|  20110330|       2003417|   M12|Medical Incident|
|  20110350|       2003435|   M41|Medical Incident|
|  20110428|       2003500|   M28|Medical Incident|
|  20110467|       2003529|   T19|Medical Incident|
|  20120016|       2003550|   E43|Medical Incident|
|  20120044|       2003576|   M10|Medical Incident|
|  20120045|       2003577|   E21|Medical Incident|
|  20120052|       2003584|   M36|Medical Incident|
|  20120061|       2003593|   M10|Medical Incident|
|  20120127|       2003630|   M38|Medical Incident|
|  20120142|       2003639|   E07|Medical Incident|
+----------+--------------+------+----------------+
only showing top 20 rows

In [56]:
fire_df.show()

+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|CallNumber|UnitID|IncidentNumber|        CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|      UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|    Delay|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|  20110016|   T13|       2003235|  Structure Fire|01/11/2002|01/10/2002|               Other|01/11/2002 01:51:...|2000 Block of CAL...|  SF|  94109|      B04|         38|3362|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         2|                     4|                 5|     Pacific Heights|(37.7895840679362...|020110016-T13|     2.95|
|  20110022|   M17|       2003241|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 03:01:...|0 Block of SILVER...|  SF|  94124|      B10|         42|6495|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         1|                    10|                10|Bayview Hunters P...|(37.7337623673897...|020110022-M17|      4.7|
|  20110023|   M41|       2003242|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 02:39:...|MARKET ST/MCALLIS...|  SF|  94102|      B03|         01|1455|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     3|                 6|          Tenderloin|(37.7811772186856...|020110023-M41|2.4333334|
|  20110032|   E11|       2003250|    Vehicle Fire|01/11/2002|01/10/2002|               Other|01/11/2002 04:16:...|APPLETON AV/MISSI...|  SF|  94110|      B06|         32|5626|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     6|                 9|      Bernal Heights|(37.7388432849018...|020110032-E11|      1.5|
|  20110043|   B04|       2003259|          Alarms|01/11/2002|01/10/2002|               Other|01/11/2002 06:01:...|1400 Block of SUT...|  SF|  94109|      B04|         03|3223|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         2|                     4|                 2|    Western Addition|(37.7872890372638...|020110043-B04|3.4833333|
|  20110072|   T08|       2003279|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 08:03:...|  BEALE ST/FOLSOM ST|  SF|  94105|      B03|         35|2122|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         2|                     3|                 6|Financial Distric...|(37.7886866619654...|020110072-T08|     1.75|
|  20110125|   E33|       2003301|          Alarms|01/11/2002|01/11/2002|               Other|01/11/2002 09:46:...|0 Block of FARALL...|  SF|  94112|      B09|         33|8324|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         2|                     9|                11|Oceanview/Merced/...|(37.7140353531157...|020110125-E33|2.7166667|
|  20110130|   E36|       2003304|          Alarms|01/11/2002|01/11/2002|               Other|01/11/2002 09:58:...|600 Block of POLK ST|  SF|  94102|      B02|         03|3114|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     2|                 6|          Tenderloin|(37.7826266328595...|020110130-E36|1.7833333|
|  20110197|   E05|       2003343|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 12:06:...|1500 Block of WEB...|  SF|  94115|      B04|         05|3513|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     4|                 5|           Japantown|(37.784958590666,...|020110197-E05|1.5166667|
|  20110215|   E06|       2003348|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 01:08:...|DIAMOND ST/MARKET ST|  SF|  94114|      B05|         06|5415|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     5|                 8| Castro/Upper Market|(37.7618954753708...|020110215-E06|2.7666667|
|  20110274|   M07|       2003381|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 03:31:...|2700 Block of MIS...|  SF|  94110|      B06|         11|5525|               1|       1|            2|   true|         NULL|        1|         MEDIC|                         1|                     6|                 9|             Mission|(37.7530339738059...|020110274-M07|2.1833334|
|  20110275|   T15|       2003382|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 02:59:...|BRUNSWICK ST/GUTT...|  SF|  94112|      B09|         43|6218|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         1|                     9|                11|           Excelsior|(37.7105545807996...|020110275-T15|      2.5|
|  20110304|   E03|       2003399|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:22:...|1000 Block of SUT...|  SF|  94109|      B04|         03|1557|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     4|                 3|            Nob Hill|(37.7881263034393...|020110304-E03|2.4166667|
|  20110308|   E14|       2003403|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:18:...|100 Block of 21ST...|  SF|  94121|      B07|         14|7173|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     7|                 1|      Outer Richmond|(37.7850084431077...|020110308-E14|     4.95|
|  20110313|   B10|       2003408|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         6|                     6|                 9|             Mission|(37.7547064357942...|020110313-B10|1.4166666|
|  20110313|    D3|       2003408|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         4|                     6|                 9|             Mission|(37.7547064357942...| 020110313-D3|2.5333333|
|  20110313|   E32|       2003408|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|   true|         NULL|        1|        ENGINE|                         8|                     6|                 9|             Mission|(37.7547064357942...|020110313-E32|1.8833333|
|  20110315|   RC2|       2003409|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:34:...|200 Block of LAGU...|  SF|  94116|      B08|         20|8635|               3|       3|            3|   true|         NULL|        1|RESCUE CAPTAIN|                         2|                     8|                 7|  West of Twin Peaks|(37.7501117393668...|020110315-RC2|     5.35|
|  20110330|   E14|       2003417|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:51:...|BALBOA ST/PARK PR...|  SF|  94118|      B07|         31|7145|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     7|                 1|      Inner Richmond|(37.7768682293368...|020110330-E14|      2.0|
|  20110330|   M12|       2003417|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:51:...|BALBOA ST/PARK PR...|  SF|  94118|      B07|         31|7145|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     7|                 1|      Inner Richmond|(37.7768682293368...|020110330-M12|1.8166667|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
only showing top 20 rows

In [57]:
fire_df.select('CallType').where(col('CallType')
                                 .isNotNull()).count()

175296

In [58]:
fire_df.select('CallType').where(col('CallType')
                                .isNotNull()).show()

+----------------+
|        CallType|
+----------------+
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|    Vehicle Fire|
|          Alarms|
|  Structure Fire|
|          Alarms|
|          Alarms|
|Medical Incident|
|Medical Incident|
|Medical Incident|
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|  Structure Fire|
|  Structure Fire|
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|Medical Incident|
+----------------+
only showing top 20 rows

In [59]:
#show distinct call type

fire_df.select('CallType').where(col('CallType')
                                .isNotNull()).distinct().count()

30

In [60]:
#show distinct call type

fire_df.select('CallType').where(col('CallType')
                                .isNotNull()).distinct().show(truncate = False)

+--------------------------------------------+
|CallType                                    |
+--------------------------------------------+
|Elevator / Escalator Rescue                 |
|Marine Fire                                 |
|Aircraft Emergency                          |
|Confined Space / Structure Collapse         |
|Administrative                              |
|Alarms                                      |
|Odor (Strange / Unknown)                    |
|Citizen Assist / Service Call               |
|HazMat                                      |
|Watercraft in Distress                      |
|Explosion                                   |
|Oil Spill                                   |
|Vehicle Fire                                |
|Suspicious Package                          |
|Extrication / Entrapped (Machinery, Vehicle)|
|Other                                       |
|Outside Fire                                |
|Traffic Collision                           |
|Assist Police                               |
|Gas Leak (Natural and LP Gases)             |
+--------------------------------------------+
only showing top 20 rows

In [61]:
#show distinct call type

fire_df.select('CallType').where(col('CallType')
                            .isNotNull()).distinct().sort('CallType',ascending=False).show(truncate = False)

+----------------------------------+
|CallType                          |
+----------------------------------+
|Watercraft in Distress            |
|Water Rescue                      |
|Vehicle Fire                      |
|Train / Rail Incident             |
|Traffic Collision                 |
|Suspicious Package                |
|Structure Fire                    |
|Smoke Investigation (Outside)     |
|Outside Fire                      |
|Other                             |
|Oil Spill                         |
|Odor (Strange / Unknown)          |
|Mutual Aid / Assist Outside Agency|
|Medical Incident                  |
|Marine Fire                       |
|Industrial Accidents              |
|High Angle Rescue                 |
|HazMat                            |
|Gas Leak (Natural and LP Gases)   |
|Fuel Spill                        |
+----------------------------------+
only showing top 20 rows

In [62]:
#show distinct call type

fire_df.select('CallType').where(col('CallType')
                            .isNotNull()).distinct().sort('CallType',ascending=False).show(truncate = False)

[Stage 58:===========================================>              (3 + 1) / 4]

+----------------------------------+
|CallType                          |
+----------------------------------+
|Watercraft in Distress            |
|Water Rescue                      |
|Vehicle Fire                      |
|Train / Rail Incident             |
|Traffic Collision                 |
|Suspicious Package                |
|Structure Fire                    |
|Smoke Investigation (Outside)     |
|Outside Fire                      |
|Other                             |
|Oil Spill                         |
|Odor (Strange / Unknown)          |
|Mutual Aid / Assist Outside Agency|
|Medical Incident                  |
|Marine Fire                       |
|Industrial Accidents              |
|High Angle Rescue                 |
|HazMat                            |
|Gas Leak (Natural and LP Gases)   |
|Fuel Spill                        |
+----------------------------------+
only showing top 20 rows

In [63]:
#Rename Column
new_fire_df = fire_df.withColumnRenamed('Delay', 'ResponseDelayMins')

In [64]:
new_fire_df.show()

+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+-----------------+
|CallNumber|UnitID|IncidentNumber|        CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|      UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|ResponseDelayMins|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+-----------------+
|  20110016|   T13|       2003235|  Structure Fire|01/11/2002|01/10/2002|               Other|01/11/2002 01:51:...|2000 Block of CAL...|  SF|  94109|      B04|         38|3362|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         2|                     4|                 5|     Pacific Heights|(37.7895840679362...|020110016-T13|             2.95|
|  20110022|   M17|       2003241|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 03:01:...|0 Block of SILVER...|  SF|  94124|      B10|         42|6495|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         1|                    10|                10|Bayview Hunters P...|(37.7337623673897...|020110022-M17|              4.7|
|  20110023|   M41|       2003242|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 02:39:...|MARKET ST/MCALLIS...|  SF|  94102|      B03|         01|1455|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     3|                 6|          Tenderloin|(37.7811772186856...|020110023-M41|        2.4333334|
|  20110032|   E11|       2003250|    Vehicle Fire|01/11/2002|01/10/2002|               Other|01/11/2002 04:16:...|APPLETON AV/MISSI...|  SF|  94110|      B06|         32|5626|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     6|                 9|      Bernal Heights|(37.7388432849018...|020110032-E11|              1.5|
|  20110043|   B04|       2003259|          Alarms|01/11/2002|01/10/2002|               Other|01/11/2002 06:01:...|1400 Block of SUT...|  SF|  94109|      B04|         03|3223|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         2|                     4|                 2|    Western Addition|(37.7872890372638...|020110043-B04|        3.4833333|
|  20110072|   T08|       2003279|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 08:03:...|  BEALE ST/FOLSOM ST|  SF|  94105|      B03|         35|2122|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         2|                     3|                 6|Financial Distric...|(37.7886866619654...|020110072-T08|             1.75|
|  20110125|   E33|       2003301|          Alarms|01/11/2002|01/11/2002|               Other|01/11/2002 09:46:...|0 Block of FARALL...|  SF|  94112|      B09|         33|8324|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         2|                     9|                11|Oceanview/Merced/...|(37.7140353531157...|020110125-E33|        2.7166667|
|  20110130|   E36|       2003304|          Alarms|01/11/2002|01/11/2002|               Other|01/11/2002 09:58:...|600 Block of POLK ST|  SF|  94102|      B02|         03|3114|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     2|                 6|          Tenderloin|(37.7826266328595...|020110130-E36|        1.7833333|
|  20110197|   E05|       2003343|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 12:06:...|1500 Block of WEB...|  SF|  94115|      B04|         05|3513|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     4|                 5|           Japantown|(37.784958590666,...|020110197-E05|        1.5166667|
|  20110215|   E06|       2003348|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 01:08:...|DIAMOND ST/MARKET ST|  SF|  94114|      B05|         06|5415|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     5|                 8| Castro/Upper Market|(37.7618954753708...|020110215-E06|        2.7666667|
|  20110274|   M07|       2003381|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 03:31:...|2700 Block of MIS...|  SF|  94110|      B06|         11|5525|               1|       1|            2|   true|         NULL|        1|         MEDIC|                         1|                     6|                 9|             Mission|(37.7530339738059...|020110274-M07|        2.1833334|
|  20110275|   T15|       2003382|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 02:59:...|BRUNSWICK ST/GUTT...|  SF|  94112|      B09|         43|6218|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         1|                     9|                11|           Excelsior|(37.7105545807996...|020110275-T15|              2.5|
|  20110304|   E03|       2003399|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:22:...|1000 Block of SUT...|  SF|  94109|      B04|         03|1557|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     4|                 3|            Nob Hill|(37.7881263034393...|020110304-E03|        2.4166667|
|  20110308|   E14|       2003403|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:18:...|100 Block of 21ST...|  SF|  94121|      B07|         14|7173|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     7|                 1|      Outer Richmond|(37.7850084431077...|020110308-E14|             4.95|
|  20110313|   B10|       2003408|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         6|                     6|                 9|             Mission|(37.7547064357942...|020110313-B10|        1.4166666|
|  20110313|    D3|       2003408|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         4|                     6|                 9|             Mission|(37.7547064357942...| 020110313-D3|        2.5333333|
|  20110313|   E32|       2003408|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|   true|         NULL|        1|        ENGINE|                         8|                     6|                 9|             Mission|(37.7547064357942...|020110313-E32|        1.8833333|
|  20110315|   RC2|       2003409|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:34:...|200 Block of LAGU...|  SF|  94116|      B08|         20|8635|               3|       3|            3|   true|         NULL|        1|RESCUE CAPTAIN|                         2|                     8|                 7|  West of Twin Peaks|(37.7501117393668...|020110315-RC2|             5.35|
|  20110330|   E14|       2003417|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:51:...|BALBOA ST/PARK PR...|  SF|  94118|      B07|         31|7145|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     7|                 1|      Inner Richmond|(37.7768682293368...|020110330-E14|              2.0|
|  20110330|   M12|       2003417|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 04:51:...|BALBOA ST/PARK PR...|  SF|  94118|      B07|         31|7145|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     7|                 1|      Inner Richmond|(37.7768682293368...|020110330-M12|        1.8166667|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+-----------------+
only showing top 20 rows

In [65]:
new_fire_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: integer (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- ResponseDelayMins: double (nullable = true)

In [66]:
new_fire_df.select('ResponseDelayMins').where(col('ResponseDelayMins')> 5).sort('ResponseDelayMins').show()

+-----------------+
|ResponseDelayMins|
+-----------------+
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
|         5.016667|
+-----------------+
only showing top 20 rows

In [67]:
new_fire_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: integer (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- ResponseDelayMins: double (nullable = true)

In [68]:
new_fire_df.select('CallDate').show()

+----------+
|  CallDate|
+----------+
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
|01/11/2002|
+----------+
only showing top 20 rows

In [70]:
df_ts = new_fire_df.withColumn('CallDate_ts',to_timestamp(col('CallDate'),format('MM/dd/yyy'))).drop('CallDate')

In [71]:
df_ts.show()

+----------+------+--------------+----------------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+-----------------+-------------------+
|CallNumber|UnitID|IncidentNumber|        CallType| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|      UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|ResponseDelayMins|        CallDate_ts|
+----------+------+--------------+----------------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+-----------------+-------------------+
|  20110016|   T13|       2003235|  Structure Fire|01/10/2002|               Other|01/11/2002 01:51:...|2000 Block of CAL...|  SF|  94109|      B04|         38|3362|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         2|                     4|                 5|     Pacific Heights|(37.7895840679362...|020110016-T13|             2.95|2002-01-11 00:00:00|
|  20110022|   M17|       2003241|Medical Incident|01/10/2002|               Other|01/11/2002 03:01:...|0 Block of SILVER...|  SF|  94124|      B10|         42|6495|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         1|                    10|                10|Bayview Hunters P...|(37.7337623673897...|020110022-M17|              4.7|2002-01-11 00:00:00|
|  20110023|   M41|       2003242|Medical Incident|01/10/2002|               Other|01/11/2002 02:39:...|MARKET ST/MCALLIS...|  SF|  94102|      B03|         01|1455|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     3|                 6|          Tenderloin|(37.7811772186856...|020110023-M41|        2.4333334|2002-01-11 00:00:00|
|  20110032|   E11|       2003250|    Vehicle Fire|01/10/2002|               Other|01/11/2002 04:16:...|APPLETON AV/MISSI...|  SF|  94110|      B06|         32|5626|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     6|                 9|      Bernal Heights|(37.7388432849018...|020110032-E11|              1.5|2002-01-11 00:00:00|
|  20110043|   B04|       2003259|          Alarms|01/10/2002|               Other|01/11/2002 06:01:...|1400 Block of SUT...|  SF|  94109|      B04|         03|3223|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         2|                     4|                 2|    Western Addition|(37.7872890372638...|020110043-B04|        3.4833333|2002-01-11 00:00:00|
|  20110072|   T08|       2003279|  Structure Fire|01/11/2002|               Other|01/11/2002 08:03:...|  BEALE ST/FOLSOM ST|  SF|  94105|      B03|         35|2122|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         2|                     3|                 6|Financial Distric...|(37.7886866619654...|020110072-T08|             1.75|2002-01-11 00:00:00|
|  20110125|   E33|       2003301|          Alarms|01/11/2002|               Other|01/11/2002 09:46:...|0 Block of FARALL...|  SF|  94112|      B09|         33|8324|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         2|                     9|                11|Oceanview/Merced/...|(37.7140353531157...|020110125-E33|        2.7166667|2002-01-11 00:00:00|
|  20110130|   E36|       2003304|          Alarms|01/11/2002|               Other|01/11/2002 09:58:...|600 Block of POLK ST|  SF|  94102|      B02|         03|3114|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     2|                 6|          Tenderloin|(37.7826266328595...|020110130-E36|        1.7833333|2002-01-11 00:00:00|
|  20110197|   E05|       2003343|Medical Incident|01/11/2002|               Other|01/11/2002 12:06:...|1500 Block of WEB...|  SF|  94115|      B04|         05|3513|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     4|                 5|           Japantown|(37.784958590666,...|020110197-E05|        1.5166667|2002-01-11 00:00:00|
|  20110215|   E06|       2003348|Medical Incident|01/11/2002|               Other|01/11/2002 01:08:...|DIAMOND ST/MARKET ST|  SF|  94114|      B05|         06|5415|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     5|                 8| Castro/Upper Market|(37.7618954753708...|020110215-E06|        2.7666667|2002-01-11 00:00:00|
|  20110274|   M07|       2003381|Medical Incident|01/11/2002|               Other|01/11/2002 03:31:...|2700 Block of MIS...|  SF|  94110|      B06|         11|5525|               1|       1|            2|   true|         NULL|        1|         MEDIC|                         1|                     6|                 9|             Mission|(37.7530339738059...|020110274-M07|        2.1833334|2002-01-11 00:00:00|
|  20110275|   T15|       2003382|  Structure Fire|01/11/2002|               Other|01/11/2002 02:59:...|BRUNSWICK ST/GUTT...|  SF|  94112|      B09|         43|6218|               3|       3|            3|  false|         NULL|        1|         TRUCK|                         1|                     9|                11|           Excelsior|(37.7105545807996...|020110275-T15|              2.5|2002-01-11 00:00:00|
|  20110304|   E03|       2003399|Medical Incident|01/11/2002|               Other|01/11/2002 04:22:...|1000 Block of SUT...|  SF|  94109|      B04|         03|1557|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     4|                 3|            Nob Hill|(37.7881263034393...|020110304-E03|        2.4166667|2002-01-11 00:00:00|
|  20110308|   E14|       2003403|Medical Incident|01/11/2002|               Other|01/11/2002 04:18:...|100 Block of 21ST...|  SF|  94121|      B07|         14|7173|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     7|                 1|      Outer Richmond|(37.7850084431077...|020110308-E14|             4.95|2002-01-11 00:00:00|
|  20110313|   B10|       2003408|  Structure Fire|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         6|                     6|                 9|             Mission|(37.7547064357942...|020110313-B10|        1.4166666|2002-01-11 00:00:00|
|  20110313|    D3|       2003408|  Structure Fire|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         4|                     6|                 9|             Mission|(37.7547064357942...| 020110313-D3|        2.5333333|2002-01-11 00:00:00|
|  20110313|   E32|       2003408|  Structure Fire|01/11/2002|               Other|01/11/2002 04:09:...|700 Block of CAPP ST|  SF|  94110|      B06|         07|5472|               3|       3|            3|   true|         NULL|        1|        ENGINE|                         8|                     6|                 9|             Mission|(37.7547064357942...|020110313-E32|        1.8833333|2002-01-11 00:00:00|
|  20110315|   RC2|       2003409|Medical Incident|01/11/2002|               Other|01/11/2002 04:34:...|200 Block of LAGU...|  SF|  94116|      B08|         20|8635|               3|       3|            3|   true|         NULL|        1|RESCUE CAPTAIN|                         2|                     8|                 7|  West of Twin Peaks|(37.7501117393668...|020110315-RC2|             5.35|2002-01-11 00:00:00|
|  20110330|   E14|       2003417|Medical Incident|01/11/2002|               Other|01/11/2002 04:51:...|BALBOA ST/PARK PR...|  SF|  94118|      B07|         31|7145|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                     7|                 1|      Inner Richmond|(37.7768682293368...|020110330-E14|              2.0|2002-01-11 00:00:00|
|  20110330|   M12|       2003417|Medical Incident|01/11/2002|               Other|01/11/2002 04:51:...|BALBOA ST/PARK PR...|  SF|  94118|      B07|         31|7145|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     7|                 1|      Inner Richmond|(37.7768682293368...|020110330-M12|        1.8166667|2002-01-11 00:00:00|
+----------+------+--------------+----------------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+-----------------+-------------------+
only showing top 20 rows

In [72]:
df_ts.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: integer (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- ResponseDelayMins: double (nullable = true)
 |-- CallDate_ts: timestamp (nullable = true)

In [73]:
df_ts.select(fn.year('CallDate_ts').alias('CallYear')).where(col('CallYear')<2002).show()

+--------+
|CallYear|
+--------+
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
|    2000|
+--------+
only showing top 20 rows

In [74]:
df_ts.select(fn.year('CallDate_ts').alias('CallYear')).where(col('CallYear')<2002).distinct().show()

[Stage 67:===========================================>              (3 + 1) / 4]

+--------+
|CallYear|
+--------+
|    2001|
|    2000|
+--------+

In [76]:
df_ts.select(fn.year('CallDate_ts').alias('CallYear')).distinct().orderBy('CallYear').show()

[Stage 70:=============================>                            (2 + 2) / 4]

+--------+
|CallYear|
+--------+
|    2000|
|    2001|
|    2002|
|    2003|
|    2004|
|    2005|
|    2006|
|    2007|
|    2008|
|    2009|
|    2010|
|    2011|
|    2012|
|    2013|
|    2014|
|    2015|
|    2016|
|    2017|
|    2018|
+--------+

In [77]:
import pyspark.sql.functions as fn

In [78]:
(df_ts.select('CallType').
 where(col('CallType').isNotNull()).
 groupBy('CallType').
 agg(fn.count(col('CallType')).alias('Count')).
 orderBy('Count').
 show(30 ,truncate =False))

[Stage 73:=============================>                            (2 + 2) / 4]

+--------------------------------------------+------+
|CallType                                    |Count |
+--------------------------------------------+------+
|Administrative                              |3     |
|Mutual Aid / Assist Outside Agency          |9     |
|Confined Space / Structure Collapse         |13    |
|Marine Fire                                 |14    |
|Suspicious Package                          |15    |
|Oil Spill                                   |21    |
|Watercraft in Distress                      |28    |
|Extrication / Entrapped (Machinery, Vehicle)|28    |
|High Angle Rescue                           |32    |
|Assist Police                               |35    |
|Aircraft Emergency                          |36    |
|Train / Rail Incident                       |57    |
|Explosion                                   |89    |
|Industrial Accidents                        |94    |
|HazMat                                      |124   |
|Fuel Spill                                  |193   |
|Smoke Investigation (Outside)               |391   |
|Elevator / Escalator Rescue                 |453   |
|Electrical Hazard                           |482   |
|Odor (Strange / Unknown)                    |490   |
|Water Rescue                                |755   |
|Gas Leak (Natural and LP Gases)             |764   |
|Vehicle Fire                                |854   |
|Outside Fire                                |2094  |
|Other                                       |2166  |
|Citizen Assist / Service Call               |2524  |
|Traffic Collision                           |7013  |
|Alarms                                      |19406 |
|Structure Fire                              |23319 |
|Medical Incident                            |113794|
+--------------------------------------------+------+

In [85]:
(df_ts.select('CallType').
 where(col('CallType').isNotNull()).
 groupBy('CallType').
 agg(fn.count(col('CallType')).alias('Count')).
 orderBy('Count').
 show(30 ,truncate =False))

[Stage 85:===========================================>              (3 + 1) / 4]

+--------------------------------------------+------+
|CallType                                    |Count |
+--------------------------------------------+------+
|Administrative                              |3     |
|Mutual Aid / Assist Outside Agency          |9     |
|Confined Space / Structure Collapse         |13    |
|Marine Fire                                 |14    |
|Suspicious Package                          |15    |
|Oil Spill                                   |21    |
|Watercraft in Distress                      |28    |
|Extrication / Entrapped (Machinery, Vehicle)|28    |
|High Angle Rescue                           |32    |
|Assist Police                               |35    |
|Aircraft Emergency                          |36    |
|Train / Rail Incident                       |57    |
|Explosion                                   |89    |
|Industrial Accidents                        |94    |
|HazMat                                      |124   |
|Fuel Spill                                  |193   |
|Smoke Investigation (Outside)               |391   |
|Elevator / Escalator Rescue                 |453   |
|Electrical Hazard                           |482   |
|Odor (Strange / Unknown)                    |490   |
|Water Rescue                                |755   |
|Gas Leak (Natural and LP Gases)             |764   |
|Vehicle Fire                                |854   |
|Outside Fire                                |2094  |
|Other                                       |2166  |
|Citizen Assist / Service Call               |2524  |
|Traffic Collision                           |7013  |
|Alarms                                      |19406 |
|Structure Fire                              |23319 |
|Medical Incident                            |113794|
+--------------------------------------------+------+

In [82]:
df_ts.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: integer (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- ResponseDelayMins: double (nullable = true)
 |-- CallDate_ts: timestamp (nullable = true)

In [90]:
(df_ts.select('CallType','ResponseDelayMins').                               
 where(col('CallType').isNotNull()).
 groupBy('CallType').
 agg(fn.avg(col('ResponseDelayMins')).alias('ResponseDelayMinsAvg')).
 orderBy('ResponseDelayMinsAvg').
 show(30 ,truncate =False))

[Stage 94:===========================================>              (3 + 1) / 4]

+--------------------------------------------+--------------------+
|CallType                                    |ResponseDelayMinsAvg|
+--------------------------------------------+--------------------+
|Alarms                                      |3.5427290545084023  |
|Structure Fire                              |3.679561015471939   |
|Aircraft Emergency                          |3.7731481499999995  |
|Traffic Collision                           |3.7891320888732336  |
|Medical Incident                            |3.874868183815835   |
|Vehicle Fire                                |3.903922713407494   |
|Explosion                                   |4.110674168539325   |
|Outside Fire                                |4.181948425367715   |
|Elevator / Escalator Rescue                 |4.3378219334878585  |
|Extrication / Entrapped (Machinery, Vehicle)|4.391666678571429   |
|Smoke Investigation (Outside)               |4.466069897851662   |
|Gas Leak (Natural and LP Gases)             |4.583398778403142   |
|Odor (Strange / Unknown)                    |4.947959182         |
|Oil Spill                                   |4.977777761904761   |
|Industrial Accidents                        |5.0147163340425545  |
|Electrical Hazard                           |5.178112038174274   |
|Citizen Assist / Service Call               |5.473342576604596   |
|Fuel Spill                                  |5.49222798238342    |
|Other                                       |5.5051554324219785  |
|Water Rescue                                |5.507748342145694   |
|High Angle Rescue                           |6.048958375         |
|Suspicious Package                          |6.5766667199999995  |
|Watercraft in Distress                      |6.886904817857143   |
|Confined Space / Structure Collapse         |6.915384576923078   |
|Marine Fire                                 |6.928571314285715   |
|HazMat                                      |7.527016126612902   |
|Administrative                              |12.261111333333332  |
|Train / Rail Incident                       |16.452046763157895  |
|Assist Police                               |26.981903994285712  |
|Mutual Aid / Assist Outside Agency          |38.416666311111115  |
+--------------------------------------------+--------------------+

In [92]:
(df_ts.select('CallType','ResponseDelayMins').                               
 where(col('CallType').isNotNull()).
 groupBy('CallType').
 agg(fn.avg(col('ResponseDelayMins')).alias('ResponseDelayMinsAvg'),fn.max(col('ResponseDelayMins')).alias('ResponseDelayMinsMax')).
 orderBy('ResponseDelayMinsAvg','ResponseDelayMinsMax').
 show(30 ,truncate =False))

+--------------------------------------------+--------------------+--------------------+
|CallType                                    |ResponseDelayMinsAvg|ResponseDelayMinsMax|
+--------------------------------------------+--------------------+--------------------+
|Alarms                                      |3.5427290545084023  |1844.55             |
|Structure Fire                              |3.679561015471939   |1370.2333           |
|Aircraft Emergency                          |3.7731481499999995  |13.166667           |
|Traffic Collision                           |3.7891320888732336  |239.95              |
|Medical Incident                            |3.874868183815835   |721.4               |
|Vehicle Fire                                |3.903922713407494   |62.833332           |
|Explosion                                   |4.110674168539325   |22.833334           |
|Outside Fire                                |4.181948425367715   |340.11667           |
|Elevator / Escalator Rescue                 |4.3378219334878585  |48.716667           |
|Extrication / Entrapped (Machinery, Vehicle)|4.391666678571429   |9.35                |
|Smoke Investigation (Outside)               |4.466069897851662   |43.9                |
|Gas Leak (Natural and LP Gases)             |4.583398778403142   |76.566666           |
|Odor (Strange / Unknown)                    |4.947959182         |58.116665           |
|Oil Spill                                   |4.977777761904761   |29.916666           |
|Industrial Accidents                        |5.0147163340425545  |29.766666           |
|Electrical Hazard                           |5.178112038174274   |159.66667           |
|Citizen Assist / Service Call               |5.473342576604596   |142.8               |
|Fuel Spill                                  |5.49222798238342    |57.433334           |
|Other                                       |5.5051554324219785  |405.7               |
|Water Rescue                                |5.507748342145694   |82.85               |
|High Angle Rescue                           |6.048958375         |25.616667           |
|Suspicious Package                          |6.5766667199999995  |14.483334           |
|Watercraft in Distress                      |6.886904817857143   |16.333334           |
|Confined Space / Structure Collapse         |6.915384576923078   |25.133333           |
|Marine Fire                                 |6.928571314285715   |13.183333           |
|HazMat                                      |7.527016126612902   |84.76667            |
|Administrative                              |12.261111333333332  |31.983334           |
|Train / Rail Incident                       |16.452046763157895  |406.63333           |
|Assist Police                               |26.981903994285712  |628.61664           |
|Mutual Aid / Assist Outside Agency          |38.416666311111115  |302.88333           |
+--------------------------------------------+--------------------+--------------------+

In [95]:
df_response = (df_ts.select('CallType','ResponseDelayMins').                               
 where(col('CallType').isNotNull()).
 groupBy('CallType').
 agg(fn.avg(col('ResponseDelayMins')).alias('ResponseDelayMinsAvg'),fn.max(col('ResponseDelayMins')).alias('ResponseDelayMinsMax')).
 orderBy('ResponseDelayMinsAvg','ResponseDelayMinsMax'))

In [96]:
df_pandas = df_response.toPandas()

In [99]:
df_pandas.head(10)

,CallType,ResponseDelayMinsAvg,ResponseDelayMinsMax
0,Alarms,3.542729,1844.550000
1,Structure Fire,3.679561,1370.233300
2,Aircraft Emergency,3.773148,13.166667
3,Traffic Collision,3.789132,239.950000
4,Medical Incident,3.874868,721.400000
5,Vehicle Fire,3.903923,62.833332
6,Explosion,4.110674,22.833334
7,Outside Fire,4.181948,340.116670
8,Elevator / Escalator Rescue,4.337822,48.716667
9,"Extrication / Entrapped (Machinery, Vehicle)",4.391667,9.350000

In [101]:
#-----------------------------------------------------------------------------------------------

# -------------How to write sql query & read and write from different Data Sources !------------

#-----------------------------------------------------------------------------------------------

In [108]:
data_schema ='date STRING , delay INT , distance INT , Origin STRING , destination STRING'

In [109]:
df = spark.read.csv('csv/departuredelays.csv' , schema = data_schema , header = True)

In [110]:
df.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|Origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [111]:
df.createOrReplaceTempView('Flight_delays')

In [114]:
df_delay =df.select('*').where(col('delay')>5)

In [124]:
df_delay_sql = spark.sql('SELECT * from Flight_delays where delay > 5')

In [125]:
df_delay_sql.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|Origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01081230|   33|     369|   ABE|        DTW|
|01081219|   54|     569|   ABE|        ORD|
|01091215|   43|     602|   ABE|        ATL|
|01090600|  151|     369|   ABE|        DTW|
|01090625|    8|     602|   ABE|        ATL|
|01091219|   83|     569|   ABE|        ORD|
|01101725|    7|     602|   ABE|        ATL|
|01100625|   52|     602|   ABE|        ATL|
|01111215|  127|     602|   ABE|        ATL|
|01131215|   14|     602|   ABE|        ATL|
|01130625|   29|     602|   ABE|        ATL|
|01161219|   68|     569|   ABE|        ORD|
|01210600|   89|     369|   ABE|        DTW|
|01211230|   44|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [126]:
df_delay_sql = spark.sql('''SELECT * from Flight_delays 
where Origin ="SFO" AND destination = 'DTW' AND delay >30
order by delay DESC''')

In [127]:
df_delay_sql.show()

[Stage 121:==========================================>              (3 + 1) / 4]

+--------+-----+--------+------+-----------+
|    date|delay|distance|Origin|destination|
+--------+-----+--------+------+-----------+
|02202310|  291|    1806|   SFO|        DTW|
|03160700|  261|    1806|   SFO|        DTW|
|03292255|  166|    1806|   SFO|        DTW|
|01201130|  152|    1806|   SFO|        DTW|
|02191132|   84|    1806|   SFO|        DTW|
|01051323|   71|    1806|   SFO|        DTW|
|03231135|   50|    1806|   SFO|        DTW|
|02051130|   49|    1806|   SFO|        DTW|
|03121135|   49|    1806|   SFO|        DTW|
|02232310|   45|    1806|   SFO|        DTW|
|03261135|   42|    1806|   SFO|        DTW|
|02091130|   40|    1806|   SFO|        DTW|
|03021135|   40|    1806|   SFO|        DTW|
|02141132|   40|    1806|   SFO|        DTW|
|01032245|   38|    1806|   SFO|        DTW|
|01052245|   38|    1806|   SFO|        DTW|
|01051132|   31|    1806|   SFO|        DTW|
+--------+-----+--------+------+-----------+

In [129]:
spark.sql("""
SELECT delay , Origin , destination ,
CASE
WHEN delay > 360 Then 'Very Long Delay'
WHEN delay > 120 AND delay < 360 Then 'Long Delays'
WHEN delay > 60 AND delay < 120 Then 'Short Delay'
WHEN delay > 0 AND delay < 60 Then 'Tolerable Delays'
WHEN delay = 0  Then 'No Delays'
ELSE 'Early'
END AS Flight_delays
FROM Flight_delays
""").show()

+-----+------+-----------+----------------+
|delay|Origin|destination|   Flight_delays|
+-----+------+-----------+----------------+
|    6|   ABE|        ATL|Tolerable Delays|
|   -8|   ABE|        DTW|           Early|
|   -2|   ABE|        ATL|           Early|
|   -4|   ABE|        ATL|           Early|
|   -4|   ABE|        ATL|           Early|
|    0|   ABE|        ATL|       No Delays|
|   10|   ABE|        ATL|Tolerable Delays|
|   28|   ABE|        ATL|Tolerable Delays|
|   88|   ABE|        ATL|     Short Delay|
|    9|   ABE|        ATL|Tolerable Delays|
|   -6|   ABE|        ATL|           Early|
|   69|   ABE|        ATL|     Short Delay|
|    0|   ABE|        DTW|       No Delays|
|   -3|   ABE|        ATL|           Early|
|    0|   ABE|        DTW|       No Delays|
|    0|   ABE|        ATL|       No Delays|
|    0|   ABE|        DTW|       No Delays|
|    0|   ABE|        ATL|       No Delays|
|    0|   ABE|        ORD|       No Delays|
|    0|   ABE|        DTW|       No Delays|
+-----+------+-----------+----------------+
only showing top 20 rows

In [143]:
(   df.select ('delay', 'Origin','destination',
               fn.when(col('delay')>360,'Very Long Delay').otherwise('Not Very Long').alias('status')).
 sort('status' , ascending =False).
 show()   )

[Stage 131:==========================================>              (3 + 1) / 4]

+-----+------+-----------+---------------+
|delay|Origin|destination|         status|
+-----+------+-----------+---------------+
|  367|   LRD|        IAH|Very Long Delay|
|  395|   ABI|        DFW|Very Long Delay|
|  397|   ORD|        EWR|Very Long Delay|
|  543|   ATL|        CMH|Very Long Delay|
|  424|   RSW|        BWI|Very Long Delay|
|  385|   ABQ|        ATL|Very Long Delay|
|  463|   PHL|        PHX|Very Long Delay|
|  489|   ABQ|        ATL|Very Long Delay|
|  400|   MCO|        PVD|Very Long Delay|
|  394|   ABQ|        DEN|Very Long Delay|
|  444|   ORD|        FLL|Very Long Delay|
|  580|   AEX|        ATL|Very Long Delay|
|  397|   SEA|        ATL|Very Long Delay|
|  500|   AEX|        ATL|Very Long Delay|
|  688|   ORD|        IAH|Very Long Delay|
|  414|   AEX|        IAH|Very Long Delay|
|  549|   LSE|        ORD|Very Long Delay|
|  374|   AEX|        DFW|Very Long Delay|
|  543|   ORF|        ATL|Very Long Delay|
|  463|   AEX|        DFW|Very Long Delay|
+-----+------+-----------+---------------+
only showing top 20 rows

In [ ]:
# ------------------------------- Spark With Different Data Sources---------------------------
# --------------------------------------------------------------------------------------------

In [147]:
df_parquet = spark.read.parquet('parquet/2010-summary.parquet')

In [148]:
df_parquet.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [152]:
df_parquet.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [155]:
df_csv = spark.read.csv('csv/',header = True , inferSchema=True)

In [156]:
df_csv.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [163]:
df_parquet.write.format('parquet').mode('overwrite').save('Saved_Parquet')