In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SQLServerConnection").getOrCreate()

jdbc_url = "jdbc:sqlserver://localhost:1433;databaseName=master;encrypt=false;"
properties = {
    "user": "SA",
    "password": "StrongPass123!",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

df = spark.read.jdbc(url=jdbc_url, table="(SELECT 1 AS test_connection) AS tmp", properties=properties)
df.show()

25/10/19 16:44:53 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
[Stage 0:>                                                          (0 + 1) / 1]

+---------------+
|test_connection|
+---------------+
|              1|
+---------------+

In [2]:
data = [
    (1, "Fares", "Alexandria"),
    (2, "Omar", "Cairo"),
    (3, "Youssef", "Giza")
]

columns = ["id", "name", "city"]

df = spark.createDataFrame(data, columns)
df.show()

+---+-------+----------+
| id|   name|      city|
+---+-------+----------+
|  1|  Fares|Alexandria|
|  2|   Omar|     Cairo|
|  3|Youssef|      Giza|
+---+-------+----------+

In [3]:
df.write.jdbc(
    url=jdbc_url,
    table="people",     
    mode="overwrite",
    properties=properties
)

In [4]:
df_sql = spark.read.jdbc(url=jdbc_url, table="people", properties=properties)
df_sql.show()

+---+-------+----------+
| id|   name|      city|
+---+-------+----------+
|  2|   Omar|     Cairo|
|  3|Youssef|      Giza|
|  1|  Fares|Alexandria|
+---+-------+----------+

In [5]:
query = "(SELECT name, city FROM people WHERE city = 'Cairo') AS tmp"
df_filtered = spark.read.jdbc(url=jdbc_url, table=query, properties=properties)
df_filtered.show()

+----+-----+
|name| city|
+----+-----+
|Omar|Cairo|
+----+-----+